@font-face {
    font-family: 'Yanone Kaffeesatz';
    src: url('YanoneKaffeesatz-Regular-webfont.eot');
    src: url('YanoneKaffeesatz-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('YanoneKaffeesatz-Regular-webfont.woff') format('woff'),
         url('YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'),
         url('YanoneKaffeesatz-Regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'St Marie';
    src: url('StMarie-Thin-webfont.eot');
    src: url('StMarie-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('StMarie-Thin-webfont.woff') format('woff'),
         url('StMarie-Thin-webfont.ttf') format('truetype'),
         url('StMarie-Thin-webfont.svg#StMarieThin') format('svg');
    font-weight: normal;
    font-style: normal;
}