/* mixins */
.textshadow(@color)	{ text-shadow: 1px 1px 0px @color; }

.letterpress() { .textshadow(#1240ad); }

.transparency {
	background-color: rgba(0,0,0,0.7);
}
.border-radius(@r: 15px) {
	-webkit-border-radius: @r;
	-moz-border-radius: @r;
	border-radius: @r;
}
.transition(@d: 0.1s) {
	-webkit-transition: all @d linear;
	-moz-transition: all @d linear;
	-ms-transition: all @d linear;
	-o-transition: all @d linear;
	transition: all @d linear;
}

.box-shadow(@settings) {
	-webkit-box-shadow: @settings;
	box-shadow: @settings;
}

.transform(@settings) {
	-moz-transform: @settings;
	-webkit-transform: @settings;
	-o-transform: @settings;
	-ms-transform: @settings;
	transform: @settings;
}