/* look under static/less/style.less for proper source code */
@import 'font';
@import 'helpers';

/* colors */
@darkred: #902502;
@orange: #b9482b;
@seablue: #33a8ac;
@blue: #186494;
@graygreen: #a4ac83;
@darkgray: #353231;

@linkcolor: #457ea4;
@linkhover: lighten(@linkcolor, 15%);
@accent: #cc8734;
@grayish: #bfccc4;
@subtext: #aaa;

/* clearfix */
.cf { &:after { content: ""; display: table; clear: both; } }

/* grid */
.col-1-2 { width: 50%; }
.col-2-3 { width: 66.66%; }
.col-1-3 { width: 33.33%; }

.col-1-2, .col-2-3, .col-1-3 {
	padding-right: 20px;
	float: left;
}

.lastcol { padding-right: 0; }

.grid { .cf; }

/* global styles */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
	font: 110%/1.5 'Helvetica', sans-serif;
	color: #444;
	width: 700px;
	margin: 0 auto;
}

a {
	color: @linkcolor;
	&:hover { color: @linkhover; }
}

.underline-on-hover {
	text-decoration: none;
	&:hover { text-decoration: underline; }
}

h1, h2, h3 {
	font-family: 'Yanone Kaffeesatz', serif;
	font-weight: 400;
	margin: 1em 0 0 0;
	a { .underline-on-hover; }
}

h2 { font-size: 2em; line-height: 1em; }
h3 { 
	font-size: 1.5em; 
	color: @darkred;
}

/* header */
.nav-link(@c) {
	background-color: @c;
	.transition(0.2s);

	&:hover {
		background-color: saturate(darken(@c, 5%), 12%);
		.box-shadow(inset 0px 0px 20px 2px rgba(0, 0, 0, 0.3));
		.transition(0.1s);
	}
}

header.site-header {
	font-family: 'St Marie', serif;
	border-bottom: 1px solid @grayish;
	padding-bottom: 1em;

	body.single & { border-bottom: none; }

	.cf;

	h1 {
		font-family: 'St Marie', serif;
		font-size: 2em;
		margin: 1em 0 0.5em;
		text-align: center;

		a { color: @darkgray; }
	}

	nav {
		ul { padding: 0; margin: 0; }
		li { 
			list-style-type: none;
			display: inline;
			a { 
				display: inline-block;
				width: 16.16%;
				padding: 10px;
				color: #fff;
				text-decoration: none;
				text-align: center;

				&.about { .nav-link(@darkred); }
				&.writing { .nav-link(@orange); }
				&.library { .nav-link(@seablue); }
				&.food { .nav-link(@blue); }
				&.work { .nav-link(@graygreen); }
				&.music { .nav-link(@darkgray); }

				body.home & {
					padding: 30px 10px;
				}
			}
		}
	}
}

/* home page */
.featured-article {
	.col-1-2;

	h2 { 
		margin-top: 0.5em; 
		a { color: @darkgray; }
	}
}

.recent-articles { 
	.lastcol;.col-1-2;
	border-left: 1px solid @grayish;

	ul { margin: 0; padding: 1em 0 1em 1em; }

	li {
		list-style: none;
		margin: 0;
		padding: 0 0 0.5em;

		a {
			text-decoration: none;
			display: block;
			padding: 10px;
			background-color: #fff;
			.transition();

			h3 { 
				margin: 0; 
				padding: 0; 
				line-height: 1em; 
				font-size: 1.65em;
			}

			&:hover {
				background-color: #eee;
				.transition();
			}
		}
	}
}

p.meta { 
	font-size: 12px;
	color: @subtext;
	margin: 3px 0 0;

	.single & {
		text-align: right;
		margin-top: -2em;
	}
}

/* single pages */
h2.page-title {
	border-bottom: 1px solid @grayish;
	display: block;
}

/* archives */
ul.archives {
	list-style-type: circle;
}

/* footer */
footer.site-footer {
	border-top: 1px solid @grayish;
	text-align: center;

	p {
		font-size: 0.8em;
		color: @grayish;

		a {
			color: @linkhover;
			&:hover { color: @linkcolor; }
		}
	}
}