/* look under static/less/style.less for proper source code */
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('YanoneKaffeesatz-Regular-webfont.eot');
  src: url('YanoneKaffeesatz-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('YanoneKaffeesatz-Regular-webfont.woff') format('woff'), url('YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'), url('YanoneKaffeesatz-Regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'St Marie';
  src: url('StMarie-Thin-webfont.eot');
  src: url('StMarie-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('StMarie-Thin-webfont.woff') format('woff'), url('StMarie-Thin-webfont.ttf') format('truetype'), url('StMarie-Thin-webfont.svg#StMarieThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* mixins */
.transparency {
  background-color: rgba(0, 0, 0, 0.7);
}
/* colors */
/* clearfix */
.cf:after {
  content: "";
  display: table;
  clear: both;
}
/* grid */
.col-1-2 {
  width: 50%;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2,
.col-2-3,
.col-1-3 {
  padding-right: 20px;
  float: left;
}
.lastcol {
  padding-right: 0;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
/* global styles */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 110%/1.5 'Helvetica', sans-serif;
  color: #444;
  width: 700px;
  margin: 0 auto;
}
a {
  color: #457ea4;
}
a:hover {
  color: #72a3c4;
}
.underline-on-hover {
  text-decoration: none;
}
.underline-on-hover:hover {
  text-decoration: underline;
}
h1,
h2,
h3 {
  font-family: 'Yanone Kaffeesatz', serif;
  font-weight: 400;
  margin: 1em 0 0 0;
}
h1 a,
h2 a,
h3 a {
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover {
  text-decoration: underline;
}
h2 {
  font-size: 2em;
  line-height: 1em;
}
h3 {
  font-size: 1.5em;
  color: #902502;
}
/* header */
header.site-header {
  font-family: 'St Marie', serif;
  border-bottom: 1px solid #bfccc4;
  padding-bottom: 1em;
}
body.single header.site-header {
  border-bottom: none;
}
header.site-header:after {
  content: "";
  display: table;
  clear: both;
}
header.site-header h1 {
  font-family: 'St Marie', serif;
  font-size: 2em;
  margin: 1em 0 0.5em;
  text-align: center;
}
header.site-header h1 a {
  color: #353231;
}
header.site-header nav ul {
  padding: 0;
  margin: 0;
}
header.site-header nav li {
  list-style-type: none;
  display: inline;
}
header.site-header nav li a {
  display: inline-block;
  width: 16.16%;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
header.site-header nav li a.about {
  background-color: #902502;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header.site-header nav li a.about:hover {
  background-color: #791e00;
  -webkit-box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
header.site-header nav li a.writing {
  background-color: #b9482b;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header.site-header nav li a.writing:hover {
  background-color: #b0391a;
  -webkit-box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
header.site-header nav li a.library {
  background-color: #33a8ac;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header.site-header nav li a.library:hover {
  background-color: #21a0a4;
  -webkit-box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
header.site-header nav li a.food {
  background-color: #186494;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header.site-header nav li a.food:hover {
  background-color: #0c5787;
  -webkit-box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
header.site-header nav li a.work {
  background-color: #a4ac83;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header.site-header nav li a.work:hover {
  background-color: #a1b066;
  -webkit-box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
header.site-header nav li a.music {
  background-color: #353231;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
header.site-header nav li a.music:hover {
  background-color: #2c2320;
  -webkit-box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
body.home header.site-header nav li a {
  padding: 30px 10px;
}
/* home page */
.featured-article {
  width: 50%;
  padding-right: 20px;
  float: left;
}
.featured-article h2 {
  margin-top: 0.5em;
}
.featured-article h2 a {
  color: #353231;
}
.recent-articles {
  padding-right: 0;
  width: 50%;
  padding-right: 20px;
  float: left;
  border-left: 1px solid #bfccc4;
}
.recent-articles ul {
  margin: 0;
  padding: 1em 0 1em 1em;
}
.recent-articles li {
  list-style: none;
  margin: 0;
  padding: 0 0 0.5em;
}
.recent-articles li a {
  text-decoration: none;
  display: block;
  padding: 10px;
  background-color: #fff;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.recent-articles li a h3 {
  margin: 0;
  padding: 0;
  line-height: 1em;
  font-size: 1.65em;
}
.recent-articles li a:hover {
  background-color: #eee;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -ms-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
p.meta {
  font-size: 12px;
  color: #aaaaaa;
  margin: 3px 0 0;
}
.single p.meta {
  text-align: right;
  margin-top: -2em;
}
/* single pages */
h2.page-title {
  border-bottom: 1px solid #bfccc4;
  display: block;
}
/* archives */
ul.archives {
  list-style-type: circle;
}
/* footer */
footer.site-footer {
  border-top: 1px solid #bfccc4;
  text-align: center;
}
footer.site-footer p {
  font-size: 0.8em;
  color: #bfccc4;
}
footer.site-footer p a {
  color: #72a3c4;
}
footer.site-footer p a:hover {
  color: #457ea4;
}
