{% extends "base.html" %}

{% block content %}
	<article class="single archives">
		<h2 class="page-title">Writing</h2>
		<p>Here is all of the writing I have on this site, ordered chronologically.</p>
		<ul class="archives">
		{% for a in articles %}
			<li>{{ a.published|datetimeformat('%b %d') }}: <a href="{{ url_for('page', path=a.path) }}">{{ a.title }}</a></li>
		{% endfor %}
		</ul>
	</article>
{% endblock content %}
