<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<title>delw.in campbell</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body{% if body_class %} class="{{ body_class }}"{% endif %}>
	<header class="site-header">
		<h1><a href="{{ url_for("index") }}">delwin campbell</a></h1>
		<nav class="main-nav">
			<ul>
				<li><a href="{{ url_for('page', path='about') }}" class="about">about</a></li>
				<li><a href="{{ url_for('archives') }}" class="writing">writing</a></li>
				<li><a href="{{ url_for('page', path='library') }}" class="library">library</a></li>
				<li><a href="#" class="food">food</a></li>
				<li><a href="#" class="work">work</a></li>
				<li><a href="#" class="music">music</a></li>
			</ul>
		</nav>
	</header>

	{% block content %}
		<p>Page not found, sorry!</p>
	{% endblock content %}

	<footer class="site-footer">
		<p><a href="http://twitter.com/thecampbell">twitter</a> | <a href="http://github.com/enceladus">github</a> | <a href="{{ url_for('page', path='about') }}">by delwin</a></p>
	</footer>
</body>
</html>
