{% extends "base.html" %}

{% block content %}
	<div class="grid">
		<article class="featured-article">
			<h2><a href="{{ url_for('page', path=articles[0].path) }}" title="{{ articles[0].title }}">{{ articles[0].title }}</a></h2>
			<p class="meta">{{ articles[0].published|datetimeformat }}</p>
			{{ articles[0].html|excerpt|safe }}
			<p class="read-more"><a href="{{ url_for('page', path=articles[0].path) }}">Read more &rarr;</a></p>
		</article>

		<section class="recent-articles">
			<ul>
			{% for a in articles[1:5] %}
				<li>
					<a href="{{ url_for('page', path=a.path) }}" title="{{ a.title }}"><h3>{{ a.title }}</h3>
					<p class="meta">{{ a.published|datetimeformat }}</p></a>
				</li>
			{% else %}
				<li><p class="meta">No articles found.</p></li>
			{% endfor %}
				<p class="read-more"><a href="{{ url_for('archives') }}">More articles &rarr;</a></p>
			</ul>
		</section>
	</div>
{% endblock content %}
