{% extends "base.html" %}

{% block content %}
	<article class="single">
		<h2 class="page-title">{{ page.title }}</h2>
		{% if page.published %}
			<p class="meta">{{ page.published|datetimeformat }}</p>
		{% endif %}

		{{ page.html|safe }}
	</article>
{% endblock content %}
